<div class="container">
    <usermenu-app></usermenu-app>
    <div class="horizontal-container">
        <nav class="side-bar">
            <ul>
                <li *ngIf="authenticated"><a routerLink="home">Home</a></li>
                <li *ngIf="authenticated"><a routerLink="profile">Profile</a></li>
                <li *ngIf="!authenticated"><a routerLink="profile">Register</a></li>
            </ul>
        </nav>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
